
.carousel-inner{
    margin-bottom:30px;
}
.about_sec{
    color: #818181;
    margin-top:30px;
}
.haasa{
    border-bottom:3px solid #d4af37;
    font-weight: 600;
    color: #da0f5e;
}
.ser{
    color: #da0f5e;
    font-weight: 600;

}
.about_sec h1 {
    font-size: 20px;
    line-height: .8;
    font-weight: 400;
    
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.about_sec p{
    line-height: 32px;
    text-align: justify;
    letter-spacing: 0.64px;
    font-size: 16px;
    margin-bottom:20px;
    padding: 20px 19px 0 0;
}

.about_sec h3 a{
    border: none;
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(-80deg,#71b732,#21b1ff);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 45px;
    display: inline-block;
    line-height: .8;
    letter-spacing: 1.6px;
    position: relative;
    border-radius: 20px;
    margin-top:10px;
    margin-bottom:40px;
}
.services_sec{
    margin-top:90px;
    margin-bottom: 30px;
}

.our_services {
    background: #fff;
    padding: 20px;
    

    margin: 0 0 30px 0;
    /* box-shadow: 0 20px 19px -5px rgb(0 0 0 / 17%); */
    /* box-shadow: 0 1rem 3rem rgb(0 0 0 / 12%); */
    box-shadow: 0 1.5rem 4rem rgb(22 28 45 / 5%) !important;
    border-top: 5px solid #d4af37;
    
    min-height: 350px;
    text-align: center;
}
 .our_services img {
    margin: 0px auto;
    width: 90px;
    max-height: 90px;
    text-align: center;
    display: block;
}
.our_services h2 {
    margin: 20px 0 10px 0;
    font-size: 16px;
    color: #39a2f2;
    font-weight: 600;
}
.our_services p {
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
}
.payroll{
    margin-top:30px;
}
